body {
font-family: 'Assistant', sans-serif;
    color:white;
        font-size: 25px;
}
h1 {
   font-family: 'Bellefair', serif;
    color:brown;
    font-size: 60px; 
}

.container {
    max-width: 800px;
    margin: auto;
    
}

.cta {
    background-color: #efeae3;
    font-size: 21 px;
   /*text-align: center;*/
    padding: 20 px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cta h3 {
  color: brown;  
}

.button {
    background-color: #000000;
    color: #ffebeb;
    text-decoration: none;
    display: inline-block; 
    padding: 10px 30px;
    display:inline-block;
    margin: 5px;
}

.alignleft {
    float:left;
    max-width: 50%;
    margin-right: 14px;
    margin-bottom: 14px;
    overflow: hidden;
    
}

.imgbook {
    max-width: 150px;
}


.news {
  padding: 60px;
  background: url(pictures/ab1.jpg);
 background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(pictures/ab1.jpg);
background-position: center;
text-align: center;
    font-size: 24px;
    color: #ffffff;
}
.news h2 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

input { 
  font: inherit;
  color: inherit;
  background: none;
    border: 2px solid #fff;
    padding: 5px;   
}
input:focus {
  outline: 0;
  background: rgba(0,0,0,0.5);
}
label{
    margin-left: 20px;
    display: block;
    color: #ffffff;
}
label span{
    display: block;
    width: 100;
    color: #ffffff;
}
.news .button:hover {
  background: #fff;
  color: #000;
}
