body {
font-family: 'Assistant', sans-serif;
    color:black;
        font-size: 25px;
}
h1 {
   font-family: 'Bellefair', serif;
    color:brown;
    font-size: 48px;  
}

.containter {
    max-width: 800px;
    margin: auto;
    
}
