body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  line-height: 1.5;
}
h1 { font-family: 'Yusei Magic', sans-serif;
    font font-weight: 400;
}
h2, h3, h4 {
  font-family: 'Secular One', sans-serif;
    font font-weight: 400;
    }
.about{
    background:#e6e3e0;
    font-size: 23px;
    color: black; 
}

.about img {
  display: block;
  margin-top: 40px;
}

.container{
    max-width: 1000px;
    margin: auto;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
    align-items: center; 
    grid-gap: 30px;
}
.about img{
   display: block; 
}
h1{
    font-size: 48px;
    line-height: 1.1;
}
h2{font-size: 30px;
    text-align: center;}

.button {
    background: #fff;
  color:brown;
    text-decoration: none;
    border: 3px solid #fff;
    padding: 20px;
    display: inline-block;
    margin-top: 10px;
    transition: 0.3s;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.button:hover {
  background: #fff;
  color: #ffff;
    cursor: pointer;
}
.logo{
    max-width: 150px;
    display: block;
    margin: 15px auto;  
}
.gallery {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    color: black;
        
}
.gallery img {
  display: block;
}

.contact {
    background: #e6e3e0;
    font-size: 24px;
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
}
a{
  color: brown;  
}
.contact a:hover {
  opacity: 0.7;
}
.contact ul {
  list-style: none;
  padding: 0;
}
.contact li {
  margin-bottom: 7px;
}
.footer {
  background-color: snow;
  text-align: center;
  padding: 40px 0;
}
.footer a {
  margin: 0 10px;
}
