@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'opensans', arial, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}
h1 {
  font-size: 80px;
  font-family: 'opensans';
  font-weight: 700;
    color: #fff;
}
.current a {
  font-weight: bold;
}
footer {
  background: #acacac;
  color: #000;
  text-align: center;
  padding: 5px;
}
footer a {
  color: #ed1c24;
}

h1:after {
  content: "";
  border-bottom: 3px solid #fff;
  width: 80px;
  display: block;
  margin: auto;
}
h2 {font-size: 35px;
font-family: 'opensans';}

p{font-family: 'opensans';
font-weight: 400;
font-size: 30px;
color: #000;
}

h3{
font-size: 33px;
    
}

.button {
  text-decoration: none;
  color: #fff;
  background: #ed1c24;
  padding: 10px 40px;
  display: inline-block;
}
.button:hover{
  background: #30271c;
  color: #000;
}
.button: after{
    content: " >"; 
}
.container {
    max-width: 1500px;
    margin: auto;
}
.header{
text-align: center;
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.5);
}
nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 1px solid #000;
    display: block;
    font-size: 25px;
    border-bottom-color: #fff; 
}
nav a:hover{
border-bottom: white;
}
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(photo/room%201.jpg);
  background-position: center 60%;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
    color: #fff;
}
.container {text-align: center;
padding: 15px;}

.features{
    background: #fff;
    text-align: center;
}
.features ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.features img {
    max-width: 130px;
}
.about {
  position: relative;
  padding: 56px 0 84px;
}
.custom-shape-divider-bottom-1615827767 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1615827767 svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 73px;
}
.custom-shape-divider-bottom-1615827767 .shape-fill {
    fill: #FFFFFF;
}

h4 {font-size: 45px;
font-family: 'opensans';
color: #000;
}
.custom-shape-divider-top-1617724758 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1617724758 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1617724758 .shape-fill {
    fill: #FFFFFF;
}
